<!DOCTYPE html>
<html>
    <body>
        <header>

        </header>
        <div class="names__container">
            <select>
                <option>

                </option>
            </select>
        </div>
        <div class="breeds__container">
            <select>
                <option>
                    
                </option>
            </select>
        </div>
        <div class="fonts__container">
            <select>
                <option>

                </option>
            </select>
        </div>
        <script type="text/javascript" src="../../dist/assets/js/common/index.js"></script>
    </body>
</html>